# 注册服务

[Unit]
Description=RPC Register Service

[Service]
Type=simple
Restart=always
ExecStart=/www/grpc-services/account/bin/liunx-amd64
EnvironmentFile=/www/grpc-services/account/.env

[Install]
# 依赖当前 Unit 的 Unit
WantedBy=multi-user.target
